.Mr-Green{
    background-color: rgb(16, 16, 16);
}

#todos{
    color: green;
    text-align: center;
}
#yellow{
    margin-top: 50px;
    margin-left: 250px;
    background-color: green;
    border-color: green;
}
.d{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#todos > button{
    background-color: green;
}